language: c

install:
  - sudo apt-get install mono-devel mono-gmcs nunit-console

script:
  - mozroots --import --sync
  - xbuild
  - nunit-console ./ToopherDotNetTests/bin/Debug/ToopherDotNetTests.dll -config=Debug -exclude Integration,NotWorkingOnMono
